{% extends 'layout.html' %}




{% block content %}


{% comment %} <div class="image" style="background-image: url(https://cdn.kino.kz/cinema/144/p223x267.jpg)"></div> {% endcomment %}

{% comment %} <a href="/myapp/${cinema.url}" class="text-decoration-none text-black cinema-card" >
    <div class="container-sm">
        <div class="card border border-0" style="width: 32rem; height: 7rem;">
            <div class="card-body" >
                <div class="row row-cols-auto">
                    <div class="col">
                         <img class="img-cinema card-img rounded" src="${cinema.image}" alt="">
                    </div>
                    <div class="col">
                        <p class="fw-medium">${cinema.cinema}|${cinema.city}</p>
                        <p>${cinema.address}</p>
                    </div>
                </div>  
            </div>
        </div>
    </div>
</a>

<a href="/myapp/${cinema.url}" class="text-decoration-none text-black cinema-card" >
    <div class="container-sm">
        <div class="card border border-0" style="width: 32rem; height: 7rem;">
            <div class="card-body" >
                <div class="row row-cols-auto">
                    <div class="col">
                         <img class="img-cinema card-img rounded" src="${cinema.image}" alt="">
                    </div>
                    <div class="col">
                        <p class="fw-medium">${cinema.cinema}|${cinema.city}</p>
                        <p>${cinema.address}</p>
                    </div>
                </div>  
            </div>
        </div>
    </div>
</a> {% endcomment %}

    

    




{% endblock content %}

