{% extends 'layout.html' %}

{% block content %}
<h1>Ваш город: {{ city.name }}</h1>
<h1>URL: {{ city.url }}</h1>

<div class="col-lg-9">
    <div class="row">
       
      {% for a in cinema_list %}
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                <a href="#">
                    
                    <img class="card-img-top"
                        src="/myapp{{a.image.url}}"
                        alt="">
                </a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="/myapp/{{a.url}}">{{a.cinema}}</a>
                    </h4>
                    <h5>{{a.city}}</h5>
                    <p class="card-text">{{a.address}}</p>
                </div>
            </div>
        </div>
      
      {% endfor %}
  </div>
</div> 



{% endblock content %}