{% extends 'layout.html' %}
{% load widget_tweaks %}


{% block content %}

<div class="vh-100 d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
            <div class="card bg-white">
              <div class="card-body p-5">
                  <form class="mb-3 mt-md-4" method="POST">
                    {% csrf_token %}
                    <h2 class="fw-bold mb-2 text-uppercase ">Cinema</h2>
                    <p class=" mb-5">Пожалуйста ведите логин и пароль</p>
                    {%for field in form%}
                      <div class="mb-3">
                        <p>{{field.label}}: <br> {{field|attr:"class: form-control rounded-3"}}</p>
                      </div>
                    {% endfor %}
              
                    <div class="d-grid">
                        <button class="btn btn-outline-dark" type="submit">Sign in</button>
                    </div>
                  </form>
              </div>
            </div>
        </div>
        </div>
    </div>
</div>

{% endblock content %}