{% extends 'layout.html' %}

{% block content %}

{% comment %} <input type="hidden" id="hallID" value="{{hall.id}}"> {% endcomment %}



<h3>Кинотеатр - {{cinema.cinema}}</h3>
<h3>URL: {{cinema.url}}</h3>
<h3>{{cinema.city}}</h3>



{% for hall in halls %}
    <li><a href="/halls/{{hall.id}}/">Купить Билет</a></li>

    <button type="button" data-hall-id="{{hall.id}}" id="{{hall.id}}"  class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Купить билет
    </button>


    <p>{{hall.id}} {{ hall.name }}</p>
    <ul>
        {% for show_movie in hall.show_movie.all %}
            <li>{{ show_movie.movie_show.title }} at {{ show_movie.time_show|time:"H:i" }}</li>
        {% endfor %}
    </ul>
    
{% endfor %}





<script src="/static/js/main.js"></script>

{% endblock content %}