{% extends 'layout.html' %}

{% block content %}
{% comment %} <input type="hidden" id="hallID" value="{{hall.id}}">
  <form action="" method="POST">
      {% csrf_token %}
      <ul id="seatsList" class="seat-list">
        {% for row in seats %}
          {% for col in row %}
            {% if col == True %}
            
              <div class="checkbox ">
                <label for="seat_{{ rowIndex }}_{{ colIndex }}"></label>
                <input type="checkbox" checked disabled name="seat_id" value="{{ seat.0 }} {{ seat.1 }}" id="seat_{{ seat.0 }}_{{ seat.1 }}"> 
              </div>
              
            {% else %}
              <div class="checkbox ">
                <label for="seat_{{ seat.0 }}_{{ seat.1 }}"></label>
                <input type="checkbox" name="seat_id" value="{{ seat.0 }} {{ seat.1 }}" id="seat_{{ seat.0 }}_{{ seat.1 }}" > 
               
              </div>
            {% endif %}
           
            {% if forloop.last and not forloop.parentloop.last %}
              </ul><ul class="seat-list">
            {% endif %}
          {% endfor %}
        {% endfor %}
      </ul>

      <button type="submit">Reserve seat</button>

  </form> {% endcomment %}




{% comment %}  {% endcomment %}
{% comment %} Мой пример {% endcomment %}

  <h1>{{ hall.name }}</h1>

  <form method="post" action="">
  {% csrf_token %}
    
    <div class="screen">
      <img src="https://ticket.kino.kz/static/media/display_light.3a44c046.svg">
    </div>

    {% for row in seats %}
      <div class="row">
        {% for col in row %}
          <div class="col">
            {% if col.2 %}
              <input type="checkbox" class="seat-checkbox" disabled name="seat_id" value="{{ col.0 }} {{ col.1 }}" >
            {% else %}
              <input type="checkbox" class="seat-checkbox" name="seat_id" value="{{ col.0 }} {{ col.1 }}">
            {% endif %}
            <label class="seat-label">{{ col.0 }}|{{ col.1 }}</label>
          </div>
        {% endfor %}
      </div>
    {% endfor %}




  {% comment %} <button type="submit" class="btn btn-warning">Book tickets</button> {% endcomment %}

  <button type="button" class="btn btn-warning btn-payment" data-bs-toggle="modal" data-bs-target="#exampleModal">
    К оплате
  </button>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          {% comment %} <h5 class="modal-title" id="exampleModalLabel">Modal title</h5> {% endcomment %}
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="container p-0">
            <div class="card px-4">
                <p class="h8 py-3">Payment Details</p>
                <div class="row gx-3">
                    <div class="col-12">
                        <div class="d-flex flex-column">
                            <p class="text mb-1">Card Number</p>
                            <input class="form-control mb-3" type="text" placeholder="1234 5678 435678">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="d-flex flex-column">
                            <p class="text mb-1">Expiry</p>
                            <input class="form-control mb-3" type="text" placeholder="MM/YYYY">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="d-flex flex-column">
                            <p class="text mb-1">CVV/CVC</p>
                            <input class="form-control mb-3 pt-2 " type="password" placeholder="***">
                        </div>
                    </div>
                   
                </div>
          </div>
        </div>
      </div>
        <div class="modal-footer">
          <button type="submit" onclick="alert('Операция прошла успешно')" class="btn btn-warning">Оплатить</button>
        </div>
      </div>
    </div>
  </div>

  </form>


  <style>
    .btn-payment {
      
    }

    .modal-footer {
      border-top: none;
    }
    .modal-header {
      border-bottom: none;
    }
    
    .screen {
      display: flex;
      justify-content: center;
      padding-bottom: 5px;
    }
    
    .screen img {
      width: 90%;
    }
    
    .seat-checkbox:checked + .seat-label:before {
      content: url("https://cdn-icons-png.flaticon.com/32/1683/1683809.png");
    }
    
    .seat-checkbox:disabled + .seat-label:before {
      content: url("https://ticket.kino.kz/static/media/busy_light.ac4fa5e9.svg");
    }
    
    .seat-checkbox + .seat-label:before {
      content: url("https://ticket.kino.kz/static/media/empty_light.f550f048.svg");
    }
    
    .seat-list {
      display: flex;
      flex-wrap: wrap;
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
  
    .seat-item {
      width: 50px; /* ширина места */
      height: 50px; /* высота места */
      margin: 5px; /* отступ между местами */
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
    }
    
  </style>


{% endblock content %}

