{% extends 'layout.html' %}

{% block content %}

  <form action="" method="POST">
      {% csrf_token %}
      <ul class="seat-list">
        {% for row in seats %}
          {% for seat in row %}
            {% if forloop.first %}
              <li class="seat-item new-row">
                <span class="row-number">Ряд {{ seat.0 }}</span>
              </li>
            {% endif %}
            <li class="seat-item">
              <div class="checkbox">
                  <label for="seat_{{ seat.0 }}_{{ seat.1 }}"></label>
                  <input type="checkbox" name="seat_id" value="{{ seat.0 }} {{ seat.1 }}" id="seat_{{ seat.0 }}_{{ seat.1 }}" > 
                  {{ seat.0 }}|{{ seat.1 }}
              </div>

            </li>
            {% if forloop.last and not forloop.parentloop.last %}
              </ul><ul class="seat-list">
            {% endif %}
          {% endfor %}
        {% endfor %}
      </ul>

      <button type="submit">Reserve seat</button>
  </form>


  


  <style>
    {% comment %} input[type="checkbox"] {
      display: none;
    } {% endcomment %}

    .checkbox label:before {
      content: url("https://cdn-icons-png.flaticon.com/32/1683/1683707.png");
    } 
    
    .checkbox input[type="checkbox"]:checked + label:before {
      content: url("https://cdn-icons-png.flaticon.com/32/1683/1683809.png");
    }

    .seat-list {
      display: flex;
      flex-wrap: wrap;
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
  
    .seat-item {
      width: 50px; /* ширина места */
      height: 50px; /* высота места */
      margin: 5px; /* отступ между местами */
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
    }
    
  
  </style>

{% endblock content %}

