{% extends 'layout.html' %}


{% block content %}




<div class="ticketDetail">
    <div>Movie:&ensp; {{ticket.seat_number.hall.show_movie.all.0.movie_show}}</div>
    <div>Studio:&nbsp; {{ticket.seat_number.hall}}</div>
    <div>Time:&emsp; {{ticket.seat_number.hall.show_movie.all.0.time_show}}</div>
</div>

{% comment %}  {% endcomment %}
<!--Creates the popup body-->
<div class="popup-overlay">
    <!--Creates the popup content-->
    <div class="popup-content">
      <h2>Pop-Up</h2>
        <div class="position-absolute top-50 start-50 translate-middle">

            <div class="ticketContainer">
                <div class="ticketContainer">
                    <div class="ticket">
                        <div class="ticketTitle">{{ticket.seat_number.hall.cinema}}</div>
                        <hr>
                        <div class="ticketDetail">
                        <div>Movie:&ensp; {{ticket.seat_number.hall.show_movie.all.0.movie_show}}</div>
                        <div>Studio:&nbsp; {{ticket.seat_number.hall}}</div>
                        <div>Time:&emsp; {{ticket.seat_number.hall.show_movie.first.time_show}}</div>
                        </div>
            
                        <div class="ticketRip">
                        <div class="circleLeft"></div>
                        <div class="ripLine"></div>
                        <div class="circleRight"></div>
                        </div>
            
                        <div class="ticketSubDetail">  
                        <div class="code">LO-2314XXX</div>
                        <div class="date"> {{ticket.date}}</div>
                        </div>
                    </div>
                </div> 
            </div>

        </div>
      <!--popup's close button-->
      <button class="close">Close</button> </div>
  </div>
  <!--Content shown when popup is not displayed-->
  <h2>jQuery Pop-Up Example</h2>
  <button class="open">Open</button>

  <style>
    .popup-overlay {
        /*Hides pop-up when there is no "active" class*/
        visibility: hidden;
        position: absolute;
        background: orange;
        border: 3px solid #666666;
        width: 25%;
        height: 50%;
        left: 25%;
      }
      .popup-overlay.active {
        /*displays pop-up when "active" class is present*/
        visibility: visible;
        {% comment %} text-align: center; {% endcomment %}
      }
      
      .popup-content {
        /*Hides pop-up content when there is no "active" class */
        visibility: hidden;
      }
      
      .popup-content.active {
        /*Shows pop-up content when "active" class is present */
        visibility: visible;
      }
      
      button {
        display: inline-block;
        vertical-align: middle;
        border-radius: 30px;
        margin: .20rem;
        font-size: 1rem;
        color: #666666;
        background: #ffffff;
        border: 1px solid #666666;
      }
      
      button:hover {
        border: 1px solid #666666;
        background: #666666;
        color: #ffffff;
      }
  </style>
  <script>
    $(".open").on("click", function() {
        $(".popup-overlay, .popup-content").addClass("active");
      });
      
      //removes the "active" class to .popup and .popup-content when the "Close" button is clicked 
      $(".close, .popup-overlay").on("click", function() {
        $(".popup-overlay, .popup-content").removeClass("active");
      });
  </script>
{% comment %}  {% endcomment %}

<div class="position-absolute top-50 start-50 translate-middle">
        <div class="ticketContainer">
            <div class="ticketContainer">
                <div class="ticket">
                    <div class="ticketTitle">{{ticket.seat_number.hall.cinema}}</div>
                    <hr>
                    <div class="ticketDetail">
                    <div>Movie:&ensp; {{ticket.seat_number.hall.show_movie.all.0.movie_show}}</div>
                    <div>Studio:&nbsp; {{ticket.seat_number.hall}}</div>
                    <div>Time:&emsp; {{ticket.seat_number.hall.show_movie.first.time_show}}</div>
                    </div>
        
                    <div class="ticketRip">
                    <div class="circleLeft"></div>
                    <div class="ripLine"></div>
                    <div class="circleRight"></div>
                    </div>
        
                    <div class="ticketSubDetail">  
                    <div class="code">LO-2314XXX</div>
                    <div class="date"> {{ticket.date}}</div>
                    </div>
                </div>
            </div> 
        </div>
</div>

<style>

    /* Main Ticket Style */
    .ticketContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: orange;
    }
    .ticket{
        animation: bouncingCard 0.6s ease-out infinite alternate;
        background-color: white;
        color: darkslategray;
        border-radius: 12px;
    }
    
    /* Ticket Content */
    .ticketTitle{
        font-size: 1.5rem;
        font-weight: 700;
        padding: 12px 16px 4px;
    }
    hr{
        width: 90%;
        border: 1px solid #efefef;
    }
    .ticketDetail{
        font-size: 1.1rem;
        font-weight: 500;
        padding: 4px 16px;
    }
    .ticketSubDetail{
        display: flex;
        justify-content: space-between;
        font-size: 1rem;
        padding: 12px 16px;
    }
    .ticketSubDetail .code{
        margin-right: 24px;
    }
    
    /* Ticket Ripper */
    .ticketRip{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .circleLeft{
        width: 12px;
        height: 24px;
        background-color: orange;
        border-radius: 0 12px 12px 0;
    }
    .ripLine{
        width: 100%;
        border-top: 3px solid orange;
        border-top-style: dashed ;
    }
    .circleRight{
        width: 12px;
        height: 24px;
        background-color: orange;
        border-radius: 12px 0 0 12px;
    }
    
</style>

{% endblock content %}
