{% extends 'layout.html' %}



{% block content %}

{% comment %} <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/smoothness/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script> {% endcomment %}


<h1>Мои билеты</h1>
<ul class="list-group mt-3">
    {% for ticket in tickets %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <div>
                <div class="row">
                    <div class="col-sm-2">Ряд:</div>
                    <div class="col-sm-4">{{ ticket.seat_number.row }}</div>
                    <div class="col-sm-2">Место:</div>
                    <div class="col-sm-4">{{ ticket.seat_number.col }}</div>
                </div>
                <div class="row">
                    <div class="col-sm-2">Дата:</div>
                    <div class="col-sm-4">{{ ticket.date|date:"d.m.Y H:i" }}</div>
                    <div class="col-sm-2">Цена:</div>
                    <div class="col-sm-4">{{ ticket.price }}</div>
                </div>
            </div>
            <div>
                <a href="{% url 'ticket_check' pk=ticket.pk %}" class="btn btn-warning btn-sm">Проверить</a>
            </div>
        </li>
    {% empty %}
        <li class="list-group-item">У вас нет билетов.</li>
    {% endfor %}
</ul>




{% endblock content %}