{% extends 'layout.html' %}


{% block content %}



<div class="position-absolute top-50 start-50 translate-middle"> 
    <div class="card" style="width: 24rem; height: 22rem">
        <div class="card-body">
            <div class="ticketContainer">
                <div class="ticket">
                    <div class="ticketTitle">Кинотеатр: {{ticket.seat_number.hall.cinema}}</div>
                    <hr>
                    <div class="ticketDetail">
                    <div>Фильм:&ensp;{{ticket.seat_number.hall.show_movie.all.0.movie}}</div>
                    <div>Зал:&nbsp;{{ticket.seat_number.hall}}</div>
                    <div>Ряд:&nbsp;{{ticket.seat_number.row}}</div>
                    <div>Место:&nbsp;{{ticket.seat_number.col}}</div>
                    <div>Время:&nbsp;{{ticket.seat_number.hall.show_movie.first.time_show|time:"H:i"}}</div>
                    <div>Цена:&nbsp;{{ticket.price}}</div>
                    </div>
        
                    <div class="ticketRip">
                    <div class="circleLeft"></div>
                    <div class="ripLine"></div>
                    <div class="circleRight"></div>
                    </div>
        
                    <div class="ticketSubDetail">  
                    <div class="code">LO-2314XXX</div>
                    <div class="date"> {{ticket.date|date:"d.m.Y H:i"}}</div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>


<style>
    .card{
        box-shadow: 0px 0px 10px grey;
        background-color: orange;
    }

    /* Main Ticket Style */
    .ticketContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        
    }
    .ticket{
        
        background-color: white;
        color: darkslategray;
        border-radius: 12px;
    }
    
    /* Ticket Content */
    .ticketTitle{
        font-size: 1.5rem;
        font-weight: 700;
        padding: 12px 16px 4px;
    }
    hr{
        width: 90%;
        border: 1px solid #efefef;
    }
    .ticketDetail{
        font-size: 1.1rem;
        font-weight: 500;
        padding: 4px 16px;
    }
    .ticketSubDetail{
        display: flex;
        justify-content: space-between;
        font-size: 1rem;
        padding: 12px 16px;
    }
    .ticketSubDetail .code{
        margin-right: 24px;
    }
    
    /* Ticket Ripper */
    .ticketRip{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .circleLeft{
        width: 12px;
        height: 24px;
        background-color: orange;
        border-radius: 0 12px 12px 0;
    }
    .ripLine{
        width: 100%;
        border-top: 3px solid orange;
        border-top-style: dashed ;
    }
    .circleRight{
        width: 12px;
        height: 24px;
        background-color: orange;
        border-radius: 12px 0 0 12px;
    }
    
</style>
{% endblock content %}
